.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .product-image {
    max-width: 200px;
    max-height: 200px;
  }

  nav {
    background-color: #333;
    color: #fff;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  a:hover {
    background-color: #555;
  }

  *{
    margin: 0;
    padding: 0;
  }
.row{
    display: flex;
    margin: 32px;
    padding: 32px;
}

  .container{
    text-align: center;
    border: solid 1px black;
    width: 100vh;
    margin: 32px;
    padding: 32px;
  }